<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    <title>Custom Cakes</title>
</head>
<body>
  <form action="/orders/<%= order._id %>?_method=PUT" method="POST" autocomplete="off">

    <H6>Edit Size:</H6>
      <select name="size">
        <option name="small">Small</option>
        <option name="medium">Medium</option>
        <option name="large">Large</option>
      </select>
  
    <H6>Edit Cake Flavor:</H6>  
    <select name="cakeFlavor">
      <option name="vanilla">Vanilla</option>
      <option name="chocolate">Chocolate</option>
      <option name="coffee">Coffee</option>
      <option name="red-velvet">Red Velvet</option>
      <option name="birthday-cake">Birthday Cake</option>
      <option name="cheesecake">Cheesecake</option>
    </select>

    <h6>Edit Ice Cream Base:</h6>
    <select name="baseType">
      <option name="premium">Premium</option>
      <option name="organic">Organic</option>
      <option name="cashew">Cashew</option>
      <option name="coconut">Coconut</option>
    </select>
  
  
    <h6>Edit Ice Cream Flavor:</h6>
    <select name="flavor">
      <option name="birthday-cake-flavor">Birthday Cake</option>
      <option name="cheesecake-flavor">Cheesecake</option>
      <option name="chocolate-flavor">Chocolate</option>
      <option name="cookie-butter">Cookie Butter</option>
      <option name="cookie-monster">Cookie Monster</option>
      <option name="animal-cookies">Frosted Animal Cookie</option>
      <option name="vanilla-flavor">Vanille</option>
      <option name="matcha">Matcha Green Tea</option>
      <option name="nutella">Nutella</option>
      <option name="peanut-butter">Peanut Butter</option>
      <option name="sea-salt-caramel">Sea Salt Caramel</option>
      <option name="strawberry">Strawberry</option>
      <option name="thai-tea">Thai Tea</option>
    </select>
  
    <br></br>
    <input type="submit" value="Edit Order">
  </form>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>