<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    <title><% title %></title>
</head>
<body>

  <div class="navbar">
    <nav>
      <div class="nav-wrapper"></div>
        <a class="title">CUSTOM CAKES</a>
        <a class="material-icons" href="/orders" <%- title === 'ORDERS' ? 'class="active"' : '' %>>ORDERS</a>
        <ul class="right">
          <li class="navs">
          <% if (user) { %>
            <a href="/logout"><i class="material-icons"></i>LOG OUT</a>
          <% } else { %>
            <a href="/auth/google"><i class="material-icons"></i>LOGIN WITH GOOGLE</a>
          <% } %>
          <title>Custom Cakes</title>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  
  <form id="add-to-order" action="/orders" method="POST">

<div class="row">
<div class="sections" id="first-image">
  <H6>SELECT A SIZE:</H6>
    <select class="dropdown" name="size">
      <option name="small">SMALL</option>
      <option name="medium">MEDIUM</option>
      <option name="large">LARGE</option>
    </select>
</div>

  <div class="sections" id="second-image">
    
  <H6>SELECT A CAKE FLAVOR:</H6>
  <select class="dropdown" name="cakeFlavor">
    <option name="vanilla">VANILLA</option>
    <option name="chocolate">CHOCOLATE</option>
    <option name="coffee">COFFEE</option>
    <option name="red-velvet">RED VELVET</option>
    <option name="birthday-cake">BIRTHDAY CAKE</option>
    <option name="cheesecake">CHEESECAKE</option>
  </select>
</div>

<div class="sections" id="third-image">
  <h6>SELECT AN ICE CREAM BASE:</h6>
  <select class="dropdown" name="baseType">
    <option name="premium">PREMIUM</option>
    <option name="organic">ORGANIC</option>
    <option name="cashew">CASHEW</option>
    <option name="coconut">COCONUT</option>
  </select>
</div>


<div class="sections" id="fourth-image">
  <h6>SELECT ICE CREAM FLAVOR:</h6>
  <select class="dropdown" name="flavor">
    <option name="birthday-cake-flavor">BIRTHDAY CAKE</option>
    <option name="cheesecake-flavor">CHEESECAKE</option>
    <option name="chocolate-flavor">CHOCOLATE</option>
    <option name="cookie-butter">COOKIE BUTTER</option>
    <option name="cookie-monster">COOKIE MONSTER</option>
    <option name="animal-cookies">FROSTED ANIMAL COOKIE</option>
    <option name="vanilla-flavor">VANILLA</option>
    <option name="matcha">MATCHA GREEN TEA</option>
    <option name="nutella">NUTELLA</option>
    <option name="peanut-butter">PEANUT BUTTER</option>
    <option name="sea-salt-caramel">SEA SALT CARAMEL</option>
    <option name="strawberry">STRAWBERRY</option>
    <option name="thai-tea">THAI TEA</option>
  </select>
</div>
</div>

    <br></br>
    <input type="submit" value="ADD TO ORDER" class="button">
</form>

</body>
</html>