<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><% title %></title>
</head>
<body>

  <div class="navbar">
    <nav>
      <div class="nav-wrapper">
        <a href="">Creamery</a>
        <a href="/" <%- title === 'Home' ? 'class="active"' : '' %>>HOME</a>
        <a href="/orders" <%- title === 'View Orders' ? 'class="active"' : '' %>>ORDERS</a>
        <!-- Add login UI here -->
        <ul class="right">
          <li>
          <% if (user) { %>
            <a href="/logout"><i class="material-icons left"></i>Log Out</a>
          <% } else { %>
            <a href="/auth/google"><i class="material-icons left"></i>Login with Google</a>
          <% } %>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <H6>SELECT A SIZE:</H6>
  <form id="add-to-order" action="/orders/orders" method="POST">
 <ul class="size" name="size">
   <li>
     <button id="btns" type="button" value="small">SMALL</button>
     <button id="btns" type="button" value="medium">MEDIUM</button>
     <button id="btns" type="button" value="large">LARGE</button>
   </li>
 </ul>

  <H6>SELECT A CAKE FLAVOR:</H6>
  <ul class="cake-flavor" name="cakeFlavor">
    <li>
      <button id="btns" type="button" value="vanilla">VANILLA</button>
      <button id="btns" type="button" value="chocolate">CHOCOLATE</button>
      <button id="btns" type="button" value="coffee">COFFEE</button>
      <button id="btns" type="button" value="red-velvet">RED VELVET</button>
      <button id="btns" type="button" value="birthday-cake">BIRTHDAY CAKE</button>
      <button id="btns" type="button" value="cheesecake">CHEESECAKE</button>
    </li>
  </ul>

<div>
  <h6>SELECT AN ICE CREAM BASE:</h6>
    <ul class="base-type" name="baseType">
      <li>
        <button id="btns" type="button" value="premium">PREMIUM</button>
        <button id="btns" type="button" value="organic">ORGANIC</button>
        <button id="btns" type="button" value="cashew">CASHEW</button>
        <button id="btns" type="button" value="coconut">COCONUT</button>
      </li>
    </ul>
</div>


  <h6>SELECT ICE CREAM FLAVOR:</h6>

    <ul class="flavor" name="flavor">
      <li>
        <button id="btns" type="button" value="birthday-cake-flavor">BIRTHDAY CAKE</button>
        <button id="btns" type="button" value="cheesecake-flavor">CHEESECAKE</button>
        <button id="btns" type="button" value="chocolate-flavor">CHOCOLATE</button>
        <button id="btns" type="button" value="cookie-butter">COOKIE BUTTER</button>
        <button id="btns" type="button" value="cookie-monster">COOKIE MONSTER</button>
        <button id="btns" type="button" value="cookies-n-cream">COOKIES & CREAM</button>
        <button id="btns" type="button" value="animal-cookies">FROSTED ANIMAL COOKIE</button>
        <button id="btns" type="button" value="vanilla-flavor">MADAGASCAR VANILLA BEAN</button>
        <button id="btns" type="button" value="matcha">MATCHA GREEN TEA</button>
        <button id="btns" type="button" value="milk-coffee">MILK COFFEE</button>
        <button id="btns" type="button" value="mint">MINT</button>
        <button id="btns" type="button" value="nutella">NUTELLA</button>
        <button id="btns" type="button" value="peanut-butter">PEANUT BUTTER</button>
        <button id="btns" type="button" value="sea-salt-caramel">SEA SALT CARAMEL</button>
        <button id="btns" type="button" value="strawberry">STRAWBERRY</button>
        <button id="btns" type="button" value="thai-tea">THAI TEA</button>
      </li>
    </ul>
    <br></br>
    <input type="submit" value="Add To Order">
</form>

  </main>
</body>
</html>