<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    <title><% title %></title>
</head>
<body>

  <div class="navbar">
    <nav>
      <div class="nav-wrapper"></div>
        <a class="title">CUSTOM CAKES</a>
        <a class="material-icons" href="/orders" <%- title === 'ORDERS' ? 'class="active"' : '' %>>ORDERS</a>
        <ul class="right">
          <li class="navs">
          <% if (user) { %>
            <a href="/logout"><i class="material-icons"></i>LOG OUT</a>
          <% } else { %>
            <a href="/auth/google"><i class="material-icons"></i>LOGIN WITH GOOGLE</a>
          <% } %>
          <title>Custom Cakes</title>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  
  <form id="add-to-order" action="/orders" method="POST">

<div class="row">
<div class="sections" id="first-image">
  <H6>Select size:</H6>
    <select class="dropdown" name="size">
      <option name="small">Small</option>
      <option name="medium">Medium</option>
      <option name="large">Large</option>
    </select>
</div>

  <div class="sections" id="second-image">
    
  <H6>Select cake flavor:</H6>
  <select class="dropdown" name="cakeFlavor">
    <option name="vanilla">Vanilla</option>
    <option name="chocolate">Chocolate</option>
    <option name="coffee">Coffee</option>
    <option name="red-velvet">Red Velvet</option>
    <option name="birthday-cake">Birthday Cake</option>
    <option name="cheesecake">Cheesecake</option>
  </select>
</div>

<div class="sections" id="fourth-image">
  <h6>Select ice cream flavor:</h6>
  <select class="dropdown" name="flavor">
    <option name="birthday-cake-flavor">Birthday Cake</option>
    <option name="cheesecake-flavor">Cheesecake</option>
    <option name="chocolate-flavor">Chocolate</option>
    <option name="cookie-butter">Cookie Butter</option>
    <option name="cookie-monster">Cookie Monster</option>
    <option name="animal-cookies">Frosted Animal Cookie</option>
    <option name="vanilla-flavor">Vanilla</option>
    <option name="matcha">Matcha Green Tea</option>
    <option name="nutella">Nutella</option>
    <option name="peanut-butter">Peanut Butter</option>
    <option name="sea-salt-caramel">Sea Salt Caramel</option>
    <option name="strawberry">Strawberry</option>
    <option name="thai-tea">Thai Tea</option>
  </select>
</div>

<div class="sections" id="third-image">
  <h6>Select ice cream base:</h6>
  <select class="dropdown" name="baseType">
    <option name="premium">Premium</option>
    <option name="organic">Organic</option>
    <option name="cashew">Cashew</option>
    <option name="coconut">Coconut</option>
  </select>
</div>


</div>

    <br></br>
    <input type="submit" value="ADD TO ORDER" class="button">
</form>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>