body {
  padding: 50px;
  margin: 0px;
  font-family: 'Abel', sans-serif;
}

/* .myorders {
  background-image: url(https://i.imgur.com/I7Mayy3.jpg);
  background-size: 100%;
} */

.navs {
  text-align: center;
  list-style-type: none;
}

.material-icons {
  color: black;
  text-align: center;
}

.title {
  float: left;
  font-size: xx-large;
}

.dropdown{
  width: 150px;
  width: 50%;
}

#first-image {
  float: left;
  width: 660px;
  height: 500px;
  background-image: url(https://i.imgur.com/4wRc3q5.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 5px;
}

#second-image {
  float: left;
  width: 660px;
  height: 500px;
  background-image: url(https://i.imgur.com/GnafGwS.jpg);
  background-size: 100%;
  margin: 5px;
}

#third-image {
  float: right;
  width: 660px;
  height: 500px;
  margin: 5px;
  background-image: url(https://i.imgur.com/H5bOQ2k.jpg);
  background-size: 100%;
}

#fourth-image {
  float: right;
  width: 660px;
  height: 500px;
  margin: 5px;  
  background-image: url(https://i.imgur.com/4DiKEgY.jpg);
  background-size: 100%;
} 

.sections {
  font-size: xx-large;
}

.button {
  display: block;
  width: 100%;
  border: 1px solid black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center; 
  font-family: 'Abel', sans-serif;
  border-radius: 10px 10px 10px 10px;
}
