body {
  padding: 50px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: pink;
}
.nav ul {
  width: 100%;
}

#btns {
  width: 180px;
}

ul {
  list-style: none;
}